body {
  background-color: #F2F3F4;
  color: #333333;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  height: 100%;
  /* line-height: 21px;
  margin: 0px;
  word-spacing: -1px; */
}

#container {
  width: 80%;
  margin: auto;

  overflow-y: hidden;

}

#user {
  color: red;
  font-weight: bolder;
  font-size: 42;
  padding: 20px;
}

#noteHeader {
  font-size: 60px;
  padding: 20px;
}

#noteList {
  font-size: 40px;
  padding: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  line-height: 1.5;
}

.message {
  font-size: 40px;
  padding: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  line-height: 1.5;
  color: red;
  opacity: 0.3;
}

.noteId {
  text-decoration: none;
  color: #A2A2A2;
  font-size: 30px;
  opacity: 0.3;

}

.messageCount {
  text-decoration: none;
  display: inline-block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #000;
  color: #FFF;
  text-align: center;
  font-size: 1em;
}


.noteList a {

  font-size: 30px;
}

.importance-1 {
  font-size: 50px;
}

.importance-2 {
  font-size: 60px;
}

.importance-3 {
  font-size: 60px;
  color: red;
}

#noteHeader .importance-3 {
  font-size: 60px;
  color: red;
}

#fromUser {
  color: #A2A2A2;
  opacity: 0.3;
}

#fromUserMessage {
  color: #A2A2A2;

}

#messageContent {
  padding-left: 10px;
}
